<!DOCTYPE html>
<html>
<head>
    
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Isi Status</title>
</head>
<body style="background-color:lavenderblush;">
     <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}
     <!-- <h1 class="container-fluid bg-3 text-center">Isi Jadwal Kamu!</h1> -->
     <h1 class="text-center">Hello, Apa kabar?</h1>

<div style="margin: 5% 20%">
<form id ="form" method = "POST" action= "isistatus">
     {% csrf_token %}
     {{forms.as_p}}
    <br>
    <button id = "submit" type= "submit" class= "btn btn-success" style="float: center; text-align: center; transform: top 50% ; margin : 1% 40%">Submit</button>

</form>
</div>

<div style="margin: 5% 8%">
    {% if all_stats %} 
        <table class="table">
            <tr>
                <th scope="col">Status</th>
                
            </tr>
            {% for item in all_stats %}
            <tr id = "warna_table" bgcolor="#F8E0F7">
                <td>{{ item.message }}</td>
                <td>{{ item.time }}</td>
          
            </tr>
            {% endfor %}
        </table>
    
    {% endif %}
    </div>
    
</body>
</html>