
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Profil</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <style>
  .bg-1 { 
      background-color: lavenderblush;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
     /* padding: 18px;*/
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      /*font-size: 15px;*/
      transition: 0.4s;
  }

  .active, .accordion:hover {
      background-color: #ccc;
  }

  .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }

  .active:after {
      content: "\2212";
  }

  .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }

  .accordion-toggle {
    cursor: pointer;
    background-color: #FFAAAA;
    margin-right: 20%;
    margin-left : 20%;
  }
  .accordion-content {
    display: none;
  }
  .accordion-content.default {
    display: block;
  }

  button {
    border: none;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  #button1:hover {
    background-color: #CCDC82; 
    color: white
  }
  #button1{
    background-color: #71649D;
    color: white;
  }

  #button2:hover {
    background-color: #D68FAF; 
    color: white;
  }
   #button2{
    background-color: #71649D;
    color: white;
  }

  /* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

  </style>


  <body id="back" style="background-color: lavenderblush" onload="myFunction()">
 <div id="loader"></div>
  
  <div id="myDiv" class="animate-bottom">
  <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}
<div style="text-align: left;">
  <button id="button1" onclick="latarhijau()">Tema 1</button>
  <button id="button2" onclick="latarpink()">Tema 2</button>
  </div>
     <center>
       
       <!-- <button id="button1" onclick="latarhijau()">Tema 1</button>
       <button id="button2" onclick="latarpink()">Tema 2</button> -->

   <br>
      
        <h1 style="color: MidnightBlue ; font-family: Pacifico, cursive ;">Aulia Ramadhani</h1>
        <br><br>
        <img src="https://preview.ibb.co/ken0OA/1538883222478259.gif" style="width: 20%" >
    </center>

   <br><br>

<center>
  <div id="accordion">
  <h4 id="toogle" class="accordion-toggle">Prestasi</h4>
  <div class="accordion-content">
    <h6>Lomba Debat Inggris</h6>
    <h6>Lomba Essai</h6>
    <p></p>
  </div>
  <br>
  <h4 id="toogle" class="accordion-toggle">Aktivitas</h4>
  <div class="accordion-content">
    <h6>Berkuliah di Fasilkom UI</h6>
    <h6>Pic of Media Partner Compfest XI</h6>
    <h6>Vpj Humas dan Partnership BETIS 2019</h6>
    <h6>BEM Fasilkom UI 2018</h6>
  </div>
  <br>
  <h4 id="toogle"class="accordion-toggle">Organisasi dan Kepanitiaan</h4>
  <div class="accordion-content">
    <h6>Staff Verpeng Pemira 2017</h6>
    <h6>Staff Media Partner Compfest X</h6>
    <h6>Staff MuC Fuki 2018</h6>
    <h6>Staff OKK UI</h6>
    <h6>Staff Media Partner Anti Corruption Run UI </h6>
    <h6>Staff Pengabdian Masyarakata BEM Fasilkom UI 2018</h6>
    <p></p>
  </div>
  <br>
</div>
</center>

<div class="container-fluid bg-2 text-center">
   <h5>Perkenalkan nama saya Aulia Ramadhani, biasa dipanggil Aulia</h5>
   <h5>Saya menyukai banyak hal diantaranya bernyayi, main games, baca novel, olahraga(basket), dan masih banyak lagi</h5>
   <h5>Untuk melihat secara rinci bisa dibuka profil saya di halaman : profil-aulia.herokuapp.com</h5>
</div>

</div>


  <script>
  $(document).ready(function($) {
    $('#accordion').find('.accordion-toggle').click(function(){

      
      //Expand or collapse this panel
      $(this).next().slideToggle('slow');

      //Hide the other panels
      $(".accordion-content").not($(this).next()).slideUp('slow');

    });
  });




function latarpink() {
  document.getElementById("back").style.backgroundColor = "lavenderblush";
  var toogle = document.getElementsByClassName("accordion-toggle");
  for(i = 0 ; i < toogle.length ; i++){
    toogle[i].style.backgroundColor = "#DDF2A1";
  }
  
}

function latarhijau() {
  document.getElementById("back").style.backgroundColor = "#DDF2A1";
  var toogle1 = document.getElementsByClassName("accordion-toggle");
  for(i = 0 ; i < toogle1.length ; i++){
    toogle1[i].style.backgroundColor = "lavenderblush";
  }
}

var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 2000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}

</script>

  </body>
</html>