{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Registrasi</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    
</head>

<body style="background-color:lavenderblush; margin: 5% ;">
  {% csrf_token %}
  
  <div class="container-fluid bg-1 text-center">
  <img src="https://artsealiving.com/wp-content/uploads/2018/03/Button-registration-1.png"  style="height: auto; width: 50%">
</div>
    
<input type="hidden" name="csrfmiddlewaretoken" value="xdy5EyvvMdzT7iJ67EMp6nW3j5tN2gFnAECVNPhKa7EEuaYsW30v1NTVR1b0JVUb">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Masukan Nama">
    </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="exp: aullll@gmail.com">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Masukkan Password">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <center>

       <!--  Result: <span id="result"></span> -->
        <br><br>

      <button disabled = "true" class="btn btn-primary" id = "submit">Submit</button>

      <br><br>
      

     
      </center>
    </div>
  </div>
  <br>
  hasil : <span id="result"></span> 
</div>


<script type="text/javascript">
    $('#email').keyup(function () {
      $.ajax({
        url: '/available_email/?email=' + $('#email').val(),
        method: 'GET',
        success: function(response){
          if($('#email').val() !== response.email) return;
          if(response.available) {
            
            $('#result').html('');
            $('#submit').prop('disabled',false);
          }
          else{
            
            $('#result').html("Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain");
            $('#submit').prop('disabled',true);
          }
        }
      });
    });
    $('#submit').click(function() {
      $.ajax({
        url : '/subscribe_page/',
        method: 'POST',
        data: {
          name: $('#name').val(),
          email: $('#email').val(),
          password: $('#password').val(),
          csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
        },
        success: function(response){
          
          $('#result').html(response.message);
          $('#name').val('');
          $('#email').val('');
          $('#password').val('');
        },
        error: function(xhr, status, error){
          
          $('#result').html('Gagal untuk menyimpan dengan error : ' + JSON.parse(xhr.responseText).error[0]);
        }
      });
    });
  </script>



     

</body>
</html>