
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>List Buku Favourite</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






    <script>

    var counter = 0;
    function changeStar(id){
    		var star = $('#' + id).html();
        console.log(star)


    		if(star.includes("black")){

              $.ajax({

                  url:"/tambah",
                  dataType : 'json',
                  success: function(result){
                          console.log(result)

                          $('#' + id).html("<i class ='fa fa-star' style = 'color : orange'></i>");
          $("#isi-table").html("JUMLAH BUKU FAVORIT " + result); 
        }

    });
  }

    		else {
              $.ajax({

                  url:"/kurang",
                  dataType : 'json',
                  success: function(result){
                          var counter = JSON.parse(result);
                          console.log(result)

                         $('#' + id).html("<i class = 'fa fa-star' style ='color : black'></i>");
          $("#isi-table").html("JUMLAH BUKU FAVORIT " + counter); 
        }

    });
  }
}


  

$(document).ready(function(){

  fungsi('quilting');

  $('#button-input').click(function() {

    var x = $("#myInput").val();
    fungsi(x);   
  });    
});
   	

function fungsi(txt) {
  $.ajax({
      url : "/fileJson/?find=" + txt,
      success : function(result){
        $("#head-isi").empty();
        result = result.items;
        var head = "<thead><tr> <th>Judul Buku</th> <th>Penulis</th> <th>Gambar Sampul</th> <th>Deskripsi Buku</th>  <th>Buku Favourite</th> </tr></thead>";
        $("#head-isi").append(head);
        $("#head-isi").append("<tbody>");

        for(i=0 ; i<result.length ; i++){
          var isi = "<tr class = 'judul'><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>" + "<img src='" + result[i].volumeInfo.imageLinks.thumbnail+"'>" + "</td><td>" + result[i].volumeInfo.description +  "</td><td>" + "<button class = 'button' style = 'background-color : Transparent ; border : none' id='" + result[i].id + "' onclick = 'changeStar( " +"\"" + result[i].id + "\"" + ")'><i class = 'fa fa-star-o' style = 'color : black'></i></button>" + "</td></tr>" ;
          $("#head-isi").append(isi);

        }
        $("#head-isi").append("</tbody>");
      }

  });


}

</script>

</head>


<body style="background-color: lavenderblush; margin: 10%">

<input type="text" id="myInput" placeholder="Search for book Title" title="Type in a name">
<button class="btn btn-dark" id ="button-input">Search</button>
<br><br>

  <div>
    {% if user.is_authenticated %}
      <center>
        <h4>
      <span>HAI, KAK {{user.username}}  </span>
      <br>
      <span>Selamat Datang di Story 11</span>
      </h4>
      </center>
      <span><a href="{% url 'logout' %}"><button>Logout</button></a></span>

    {% else %}
      <span><a href="{% url 'social:begin' 'google-oauth2' %}"><button>Login with google</button></a> </span>
    {% endif %}

    </div>

<div class="container" style="margin-top: 5% ; text-align: center;">
	<p id = "isi-table"> Jumlah Buku Fav : {{counter}} </p>
<table id="head-isi" class="table"></table>
</div>






</body>
</html>