 



 
  {% block content %} 
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="..">Status</a></li>
    <li class="breadcrumb-item"><a href="../profil">Profil</a></li>
  </ol>
  
  


  {% endblock %}

